<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SqlDbHelper" value="设计模式_适配器模式.SqlDbHelper"></add>
    <add key="OracleDbHelper" value="设计模式_适配器模式.OracleDbHelper"></add>
    <add key="MySqlDbHelper" value="设计模式_适配器模式.MySqlDbHelper"></add>
    <add key="NewClassDbHelper" value="设计模式_适配器模式.NewClassDbHelper"></add>
    <add key="NewObjDbHelper" value="设计模式_适配器模式.NewObjDbHelper"></add>
    <!--写入工厂-->
  </appSettings>
</configuration>
